{%extends 'base.html.twig' %}

{% block body %}
    <p class="mt-5 mx-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet corporis dolores eaque, eum, fugiat inventore itaque libero nam qui quidem repellat suscipit veniam? Alias at consectetur consequuntur debitis delectus deleniti ea esse expedita fuga labore, laudantium libero magnam magni molestiae nam necessitatibus nemo quos reiciendis rem repudiandae soluta voluptatum?
    </p>
{% endblock %}